<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MainDb"
			connectionString="Server=DESKTOP-KKCA33K;Database=InvoicesDb;Trusted_Connection=True;TrustServerCertificate=True;MultipleActiveResultSets=True;"/>
	</connectionStrings>
	<appSettings>
		<add key="AbsolutePath"
			value="C:\Programs\RejestrFaktur\RejestrFaktur\" />
	</appSettings>
</configuration>